<form class='search-form' method="POST">

<div class="mb-3">
  <label for="searchInout" class="form-label">Từ khoá</label>
  <input name="q" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tim kiem">
</div>
<button type="submit" class="btn btn-primary mb-3">Search</button>

</form>